<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="title-order">Title</label>
    <input [(ngModel)]="model.title" #title="ngModel" id = "title-order" name="title-order" type="text"  required maxlength="5" />
  </fieldset>
  <div *ngIf="title.errors">
    <span *ngIf="title.errors['required']">Le titre est requis</span>
    <span *ngIf="title.errors['maxlength']">La longueur maximal doit être de 5 lettres</span>
    <span *ngIf="title.errors['minlength']">La longueur minimal doit être de 1 lettres</span>
  </div>

  <fieldset>
    <label for="quantity-order">Quantité</label>
    <input [(ngModel)]="model.quantity" id="quantity-order" #quantity="ngModel" name="quantity-order" type="number" required>
  </fieldset>

  <div *ngIf="quantity.errors">
    <span *ngIf="quantity.errors['required']">Le champ quantité est requis</span>

  </div>
  <fieldset>
    <label for="date-order">Date de commande</label>
    <input [(ngModel)]="model.date" id="date-order" name="date-order" type="date" required>
  </fieldset>

  <fieldset>
    <label for="contact-order">Contact</label>
    <input [(ngModel)]="model.contact" #contact="ngModel" id="contact-order" name="contact-order" type="email" required email>
  </fieldset>
  <div *ngIf="contact.errors">
    <span *ngIf="contact.errors['required']">L'email est nécessaire</span>
    <span *ngIf="contact.errors['email']">L'email est invalide</span>
  </div>

  <div>
    Form submitted ? {{myForm.submitted}}
    <br>
    Form valid ? {{myForm.valid}}
    <br>
    Form invalid ? {{myForm.valid}}
  </div>
  
  <button type="submit">Sauvegarder</button>
  <button type="reset">Réinitialiser</button>
</form>
<p>

  


  <form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()" >
    <!-- Message d'erreurs du formulaire global -->

    
      [...]
    
      <button type="submit">Sauvegarder</button>
    </form>